* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  /* justify-content: space-evenly; */
}

img {
  width: 30%;
}

li {
  list-style: none;
}

button {
  padding: 8px 20px;
  margin: 10px;
  width: 150px;
}
