.gamePage {
  display: flex;
  text-align: center;
}

.pictureDisplayContainer {
  border: 2px solid blue;
  width: 50vw;
  height: 100vh;
}

.canvasContainer {
  border: 2px solid red;
  width: 50vw;
  height: 100vh;
}
