.gamePage {
  display: flex;
  text-align: center;
  overflow: hidden;
}

/* Display Side */
.pictureDisplayContainer {
  border: 2px solid blue;
  width: 50vw;
  height: 100vh;
}

.pictureDisplayContainer h2 {
  position: absolute;
  font-size: 60px;
  padding-top: 20px;
  margin-left: 25%;
  transform: translateX(-50%);
}

.pictureDisplayContainer img {
  width: 100%;
}

/* Canvas Side */
.canvasContainer {
  border: 2px solid red;
  width: 50vw;
  height: 100vh;
}

/* Media */
@media only screen and (max-width: 600px) {
  .gamePage {
    display: block;
  }

  .pictureDisplayContainer,
  .canvasContainer {
    height: 50vh;
    width: 100vw;
  }

  .pictureDisplayContainer h2 {
    padding: 0;
  }
}
