.homepage {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categoryListContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  /* grid-gap: 20px; */
}

.categoryBtn {
  position: relative;
  margin: 10px;
  height: 200px;
  width: 400px;
  font-weight: bolder;
  font-size: 26px;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.4);

  span {
    visibility: hidden;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 20px;
  }

  &:hover {
    span {
      visibility: visible;
    }
  }

  &:focus {
    border: 2px solid rgba(4, 29, 120, 1);
    box-shadow: 0 0 20px rgba(4, 29, 120, 1);
  }

  &:active {
    transform: scale(1.02);
  }
}

.homepage:focus-within .startBtn {
  animation: hithere 3s ease-in-out;
}

.startBtn {
  border: 2px solid rgb(234, 164, 234);
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

/* Animation */
@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 600px) {
  .categoryListContainer {
    display: flex;
    flex-direction: column;
    background-position: cover;
  }

  .categoryBtn {
    width: auto;
    height: 140px;
  }
}
